<span class="bg-primary py-2 text-white text-xs font-medium px-3 rounded-full dark:bg-dark-700 dark:text-white transition duration-300 ease-in-out hover:bg-blue-700 hover:text-white hover:shadow-lg hover:scale-[1.03]">
    <slot />
  </span>
  